body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: "Montserrat-black";
    font-size: 3rem;
    line-height: 1.5;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    /* color: ; */
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15% 7%;
}


/* Navigation bar  */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.4rem;
    font-family: "Montserrat-light";
}


/* DOWNLOAD BUTTONS */

.download-button {
    margin: 5% 3% 3% 0%;
    /* TRLB*/
}


/* titile image */

.title-image {
    /* z-index: -1; */
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    left: 55%;
}


/* features section */

#features {
    background-color: #fff;
    padding: 7% 14%;
    position: relative;
    z-index: 1;
}

.features-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


/* press */

#testimonials {
    /* // padding: 7% 14%; */
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 14%;
}


/* press */

#press {
    background-color: #ef8172;
    /* padding: 7%; */
    text-align: center;
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}


/* pricing section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        width: 60%;
        transform: rotate(0);
    }
}


/* cta section */

#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
}

#h {
    font-family: "Montserrat-Black";
    color: #fff;
    font-size: 3.5rem;
    /* line-height: 1.5rem; */
    margin: 5%;
}


/* footer section */

#footer {
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}

.social {
    /* padding */
    margin: 5% 3% 3% 2%;
}