/* navigation */

nav {
    height: 40px;
    width: 100%;
    background-color: #333;
    color: rgb(51, 34, 34);
    position: fixed;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
}

nav li:hover {
    background-color: #444;
}