@import url("https://use.typekit.net/jmk3xov.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main{
  position: absolute;
  width: 100vw;
  color: white;
  z-index: 99;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,h2,h3,blockquote{
  font-family: elevon , sans-serif;
  font-weight: 600;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header{
  background: var(--dark-bg);
  grid-column: 2/ span 5;
  font-size: 2rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

@media(max-width:500px){
  header{
    background: var(--dark-bg);
    grid-column: 2/ span 8;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin-bottom: var(--spacing);
  }
  section h2{
    font-size: 1.1rem;
  }
  section{
    grid-column: 2 / 10;
   
  }
}


section{
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote{
  margin: 0;
  padding: 0;
  grid-column: 2 / span 8;
  margin-bottom: var(--spacing);
}


blockquote p {
  color: black;
  background-color: white;
  font-size: 3rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}

