@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Sansita+Swashed:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
.counter {
  position: absolute;
  top: 30px;
  left: 100px;
}
.header {
  height: 75px;
  background-color: rgb(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(219, 219, 219, 0.2);
  width: 100%;
  justify-content: center;
  display: flex;
}
.main-heading {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  letter-spacing: 4.5px;
  font-family: "Sansita Swashed", cursive;
  padding-top: 10px;
}
.head-image {
  height: 50px;
  padding-top: 11px;
  padding-left: 11px;
}
.visitors-head {
  position: absolute;
  top: 28px;
  left: 20px;
  font-size: 19px;

  padding: 3px 10px 3px 10px;
  color: white;
  font-family: "Sansita Swashed", cursive;
}

body {
  max-width: 100vw;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background: linear-gradient(-45deg, #15c7a9, #e92cba, #23a6d5, #a41ace);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main {
  height: 90vh;
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-evenly;
}
.input {
  margin-top: 50px;
  height: 83%;
  width: 45%;
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
}
#input-form {
  height: 100%;
}
.count {
  margin-top: 32px;
  margin-left: 25px;
  font-size: 19px;
  font-family: "Roboto Mono", monospace;
  color: rgb(0, 85, 35);
}
.output {
  margin-top: 50px;
  height: 83%;
  width: 45%;
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.output-text {
  font-size: 17px;
  max-width: 100%;
  min-width: 100%;
  font-family: "Roboto Mono", monospace;
  color: rgb(73, 73, 73);
  text-align: justify;
}
.output-heading {
  text-align: center;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  color: rgb(41, 41, 41);
  margin-bottom: 20px;
}
#output-box {
  max-width: 100%;
  max-height: 71%;
  min-height: 71%;
  overflow-y: scroll;
  padding: 10px;
}
.input-buttons {
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.btn {
  outline: none;
  border: none;
  width: 120px;
  height: 50px;
  font-size: 19px;
  padding: 10px;
  color: white;
  background-color: #0098cf;
  font-family: "Roboto Mono", monospace;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.btn:hover {
  border: 1px solid white;
}
#e {
  margin-right: 10px;
}

.input-text-class {
  height: 83%;
  box-sizing: border-box;
}
textarea {
  border: none;
  border-collapse: collapse;
  resize: none;
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
  color: rgb(73, 73, 73);
  cursor: auto;
}
#input-message {
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  background: unset;
  padding: 20px;
  outline: 1px solid rgba(97, 97, 97, 0.5);
}

#input-message::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: unset;
}

#input-message::-webkit-scrollbar {
  width: 10px;
  background: unset;
}

#input-message::-webkit-scrollbar-thumb {
  background-color: rgb(171, 0, 238);

  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}
#output-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: unset;
}

#output-box::-webkit-scrollbar {
  width: 10px;
  background: unset;
}

#output-box::-webkit-scrollbar-thumb {
  background-color: rgb(171, 0, 238);

  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}
