* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
}
.logo > img {
  width: 80px;
  height: 80px;
  max-width: 300px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
h1 {
  display: inline-block;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(54, 54, 54);
}
nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
a {
  color: #000;
  text-decoration: none;
}
li {
  list-style: none;
  display: list-item;
}

nav {
  font-weight: 400;
  display: block;
}
header {
  position: fixed;
  top: 0;
  min-height: 55px;
  padding: 2px 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}
#page-wrapper {
  position: relative;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
#tshirt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}
#tshirt > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
form {
  display: block;
}
#tshirt input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}
#tshirt input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}
.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}
#features {
  margin-top: 30px;
}
.grid {
  display: flex;
}
#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}
.fa {
  font-weight: 600;
}
section {
  display: block;
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#try-ons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#try-ons > iframe {
  max-width: 560px;
  width: 100%;
}
#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}
.products > .types {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}
.products > h2 {
  margin-top: 15px;
}
.products > ol {
  margin: 15px 0;
}
ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.products > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
  padding: 20px;
  font-size: 20px;
}
footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}
footer > ul {
  display: flex;
  justify-content: flex-end;
}
footer > ul > li {
  padding: 0 10px;
}
footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
img {
  width: 200px;
  height: 200px;
}
