@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mentors-container{
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.mentors-box{
    max-width: 350px;
    border: 1px solid transparent;
    background-color: whitesmoke;
    margin: 30px auto;
    border-radius: 1rem;
}

.mentors-box img{
    max-width: 300px;
    height: 200px;
    display: block;
    object-fit: cover;
    padding: 5px;
    border-radius: 1rem;
    margin: auto;
}

.mentors-box .mentors-heading,
.mentors-box .mentors-text{
    width: 100%;
    padding: 0px 5px;
    min-width: 300px;
    text-align: center;
}

.mentors-box .mentors-heading h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-top: 7px;
    font-weight: bold;
}

.mentors-box .mentors-text p{
    margin: 10px 0;
}

.mentors-box .mentors-text a{
    display: inline-block;
    color: #1663be;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

@media (min-width: 700px){
    .mentors-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    .mentors-box{
        max-width: 600px;
        padding: 0;
    }
    .mentors-box img{
        float: left;
        height: 200px;
    }

    .mentors-box .mentors-heading,
    .mentors-box .mentors-text{
        float: right;
        width: 50%;
        margin-top: 15px;
        text-align: left;
    }
}

