* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "inter", sans-serif;
  color: #343a40;
  border-bottom: 8px solid #087f5b;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 96px;
}

h2 {
  margin-bottom: 48px;
  font-size: 30px;
  letter-spacing: -0.5px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.btn:link,
.btn:visited {
  background-color: #087f5b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 100px;
}
.btn:hover,
.btn:active {
  background-color: #099268;
}
.btn--big {
  padding: 16px 32px;
  font-size: 18px;
}

.btn--small {
  font-size: 14px;
  padding: 8px 12px;
}

img {
  border-radius: 12px;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
}

.header-text-box {
  align-self: center;
}

h1 {
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
}

.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

img {
  width: 100%;
}

.features-icon {
  stroke: #087f5b;
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
}

.features-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.features-text {
  font-size: 18px;
  line-height: 1.7;
}

.testimonial-section {
  background-color: #087f5b;
  color: #fff;
  padding: 24px;
  border-radius: 12px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 24px;
  font-size: 24px;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

.chair {
  border-radius: 12px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}
.chair img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.chair-box {
  padding: 24px;
}

h3 {
  margin-bottom: 24px;
  font-size: 20px;
}

.chair-details {
  list-style: none;
  margin-bottom: 24px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
  stroke: #087f5b;
  width: 24px;
  height: 24px;
}

.chair-price {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

footer {
  margin-bottom: 48px;
  font-size: 14px;
}
