*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: rgb(168, 155, 155);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    position: absolute;
    top: 5%;
    left: 25%;
    right: 25%;
    padding: 20px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
}

#container1{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 150px;
    position: absolute;
    top: 30%;
    left: 25%;
    padding: 20px;
    padding-top: 5px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 10px;
}

#container2{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 150px;
    position: absolute;
    top: 60%;
    right: 25%;
    padding: 20px;
    padding-top: 5px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 10px;
}

label{
    font-size: 22px;
    font-weight: 600;
}

input{
    width: 100%;
    padding: 5px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
    font-weight: 400;
}